html {
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: black;

  img {
    width: 100%;
    height: auto;
    margin-top: -80px;
  }